<div class="container">
    <div class="row no-gutter">
        <h1 class="hidden-xs">Bienvenidos</h1>
        <div class="col-xs-12 hidden-md hidden-sm hidden-lg">
            <div id="head_twitter">
            <img src="imagenes/twitter_small.png" alt="" width="30"> @mzarallop
            </div>
            <div class="textTweet" id="textTweet"></div>
            <div id="footer_twitter"></div>
        </div>
        <div class="col-md-6 col-xs-12" style="text-align:justify">

            <figure style="text-align:center">
                <img ng-src="imagenes/max_b.JPG" alt="" class="foto_perfil">
            </figure>
            <p></p>
            <p>
            Hola, Mi nombre es <b>Maximiliano Zarallo</b> ¡soy un amante de los desafios! Me encanta la musica y el baile.</p>
            <p>Actualmente estoy dedicando el 100% de mi tiempo a solucionar grandes problematicas de la educación de nuestro país.</p>
            <p>Mi exepriencia como profesor y desarrollador de software me ha permitido plasmar mi visión de como ordenar los procesos pedagógicos, facilitando y optimizando el tiempo de los profesionales de la educación.</p>
            <p>Con el tiempo me he transformado en un programador hábil, lo que me permite trabajar con varios lenguajes de programación y aprender nuevas tendencias sin mayores complicaciones.</p>
            <p>
            Cuando me inicie en el mundo de la programación tuve un gran desafio y hoy mirando el pasado me siento profundamente orgulloso de todo lo que hasta hoy he realizado, siento esa magia por crear proyectos de valor con impacto social, me gustaria que más jovenes se involucreen en la solución de problemas cotidianos a través de la programación.</p>
            <p>
            Actualmente sigo en el área del desarrollo en un proyecto relacionado con la educación, la experiencia ha sido increible, recorrimos todo el país para estar cercano a la realidad de nuestros clientes
            </p>

            <!-- REDES -->
            <div class="row-fluid">
                <div class="col-md-3 col-xs-6" style="text-align:center">
                    <a href="http://github.com/mzarallop/" target="_new" class=""><i class="fa fa-5x fa-github"></i></a>
                </div>
                <div class="col-md-3 col-xs-6" style="text-align:center">
                    <a href="https://twitter.com/mzarallop" target="_new"><i class="fa fa-5x fa-twitter"></i></a>
                </div>
                <div class="col-md-3 col-xs-6" style="text-align:center">
                    <a href="https://cl.linkedin.com/pub/maximiliano-zarallo/33/48a/254" target="_new"><i class="fa fa-5x fa-linkedin"></i></a>
                </div>
                <div class="col-md-3 col-xs-6" style="text-align:center">
                    <a href="tel:+56984178721"><i class="fa fa-5x fa-mobile"></i></a>
                </div>
            </div>
        </div>
        <div class="col-md-6 hidden-xs">
            <div id="head_twitter">
                <img src="imagenes/twitter_small.png" alt="" width="30"> @mzarallop
            </div>
            <div class="textTweet" id="textTweet"></div>
            <div id="footer_twitter"></div>
        </div>
        </div>
    </div>
</div>