<div class="container">
 <div class="row no-gutter">
	<h1>Habilidades</h1>
		<div class="row-fluid">
		<div class="col-md-6 col-xs-12">
		<canvas id="doughnut" class="chart chart-doughnut" data="data_general"  labels="labels_general"></canvas>
		</div>
			<div class="col-md-6  col-xs-12 fondo-cajas-blancas">
				<p>En el transcurso de mi carrera me ha tocado enfrentar distintos desafios, que me han permitido desarrollar un conjunto de habilidades relacionadas con los <strong>productos y BI.</strong></p>
				<p>En el área de las técnologías puedo destacar algunos lenguajes y metodologías para el desarrollo de soluciones apropiadas de acuerdo a las necesidades de cada proyecto. en esta misma linea he participado por una parte en el desarrollo del producto y por otra en la estrategia del negocio, usando herramientas de <b>marketing (SEO, Analytics, Segmentación de mercado) y CRM</b>.</p>
				<p>
				Hace 6 años que participo en la construcción (Arquitectura) de productos (Software) para las escuelas, en donde puedo desatacar el desarrollo de 2 grandes proyectos educativos. Actualmente ya se encuentran trabajando en unos <strong>400 colegios a nivel nacional con una promedio de 240.000 usuarios.</strong>
				</p>
			</div>
			<div class="col-md-12">
				<div class="row-fluid">
				<div class="col-md-6 col-xs-12">
				<h2>FrontEnd</h2>
					<canvas id="bar" class="chart chart-bar" data="data" labels="labels"></canvas>
				</div>
				</div>
				<div class="col-md-6 col-xs-12">
				<h2>BackEnd</h2>
					<canvas id="bar" class="chart chart-bar" data="data_back" labels="labels_back"></canvas>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>